NEXT_PUBLIC_SUPABASE_URL=https://siquqwgztnvhtzfsgere.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNpcXVxd2d6dG52aHR6ZnNnZXJlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM4MzAxMzksImV4cCI6MjA5OTQwNjEzOX0.NJiBY8oiw-640t5jBJ_UM_Yeyq9AoDs2IPagb9csgF0
